<% include ./partials/header %>

<div class="ui vertical menu">
<% titles.forEach(function(titles){ %>
<div class="ui fluid left pointing dropdown link item">
    <i class="dropdown icon"></i>
        <%= titles.title %>
    <div class="menu">
       
       
        <% links.forEach(function(links){ %>
        <% if( titles.title == links.title ) { %>
        <div class='opened item'>
            <i class='right floated icon'><a class="linkEdit" href='/dashboard/<%= links._id %>/edit'><i class='edit right floated icon'></i></a></i>
            <i class='right floated icon'><a class="linkTrash" href='/dashboard/<%= links._id %>/delete_link_check'><i class='trash right floated icon'></i></a></i>
            <a class="main_menu" target='_blank' href='<%= links.url %>'><%= links.name %></a>
        </div>
        
        <% }%>
        <% }); %> 
        <div class="divider"></div>
        <div class='opened item'>
            <i class='right floated icon'><a href='/dashboard/new_link'><i class='plus right floated icon'></i></a></i>
            <a class="main_menu" href='/dashboard/new_link'>Add New Link</a>
        </div>   
        <div class='opened item'>
            <i class='right floated icon'><a href='/dashboard/<%= titles._id %>/edit_menu'><i class='edit right floated icon'></i></a></i>
            <a class="main_menu" href='/dashboard/<%= titles._id %>/edit_menu'>Edit Title</a>
        </div>
        <div class='opened item'>
            <i class='right floated icon'><a href='/dashboard/<%= titles._id %>/delete_menu_check'><i class='trash right floated icon'></i></a></i>
            <a class="main_menu" href='/dashboard/<%= titles._id %>/delete_menu_check'>Delete Menu</a>
        </div>   
    </div>
    </div>
<% }); %>

<a class="item" href="/dashboard/new_menu">
    <i class='plus icon'></i> Add New Menu
</a>

</div>


<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"></script>
	
	<script>
		$('.ui.dropdown')
		  .dropdown()
		;
	</script>
	
<% include ./partials/footer %>